.sign-in {
    @include sign-page(15rem);
    @include page-header;
    @include fade-in-animation;

    .lang-btn {
        margin-top: 9.5rem;
    }

    &__form {
        @include box-style;
        @include input-style;
        @include button-submit-style(center);
        @include form-design(0); 

        .form-bottom {
            width: $form-width_mobile;
            display: flex;
            justify-content: center;

            
        }
        
    }
    
    @include user-inquiry(4rem,0)


}
.sign-in-he {
    direction: rtl;
    
    & *:not(i) {
        font-family: arial !important;
    }

    .page-header {
        font-weight: bold;
    }

    .lang-btn-wrapper .lang-btn__select-box {
        background-position-x: 15%
    }
    .sign-in__form .input-wrapper .show-password {
        left: 0;
        right: unset
    }


}

//  Mobile devices mode.
@media (max-width: $mobile-breakpoint) {
    .sign-in {
        @include sign-page(0);
        @include page-header(3.2rem, left);
        padding-top: 10.7rem;

        &__form {
            margin-top: 11rem;
            justify-content: flex-start;
            padding-top: 6.2rem;
            @include input-style($width: $form-width_mobile);
            min-height: 270px;

            .form-bottom {
                // background-color:  red;
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
                height: 5rem;
                margin-top: 1rem;
                .button-wrapper {
                    width: max-content;
                    margin: 0;
                    height: 100%;

                    .submit {
                        height: 100%;
                        margin: 0;
                        font-size: 1.4rem;
                        padding: 0 1.5rem;
                        border-radius: 8px;
                    }
                }
                .link-forgot-pass {
                    position: static;
                    bottom: 0;
                    padding: 0;
                }
            }
        }
        .error-valid {
            transform: translateY(-0px);
        }
    } 
    .sign-in-he {
        
        .page-header {
            text-align: center !important;
        }
        .lang-btn-wrapper {
            justify-content: flex-start;
            // background-color: red;
            right: 0;
            left: 0;
            margin: auto;
            width: 90%;
        }
    }
    
}

